{
  "$schema": "node_modules/wrangler/config-schema.json",
  "account_id": "",
  "main": ".open-next/worker.js",
  "name": "affine-tech-tree",
  "compatibility_date": "2024-12-30",
  "compatibility_flags": ["nodejs_compat", "global_fetch_strictly_public"],
  "vars": {
    "BETTER_AUTH_BASE_URL": "https://your-worker.your-subdomain.workers.dev"
  },
  "limits": {
    "cpu_ms": 10000
  },
  "assets": {
    "directory": ".open-next/assets",
    "binding": "ASSETS"
  },
  "d1_databases": [
    {
      "binding": "DATABASE_URL",
      "database_name": "",
      "database_id": ""
    }
  ],
}
